.zoo {
    color: lightgreen;
    margin: 5px;
    display: inline;
}

.skid {
    background-color: #FFD700;
    width: fit-content;
    font-weight: 600;
    display: inline;
    margin-left: 82%;
}

.glavni {
    border: 5px dotted black;
    background-color: lightgrey;
    display: flex;
    height: 150px;
    justify-content: space-around;
}

.ps img{
    height: 80%;
    border: 1px solid;
}

.ps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}