header {
  background-color: #4C992F;
  height: 60px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
}

header a, header h1{
  margin-top: 15px;
  margin-left: 30px;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

body {
 
    margin: 0; /* Убираем отступы по умолчанию */
    padding: 0;
    background-image: url("src/terraria.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    min-height: 100vh;
}

footer {
  background-color: #4C992F;
  height: 60px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
}

main {
    min-height: 90vh;
}

.text {
  padding: 10px;
  padding-left: 100px
}

.nomer {
  padding: 10px;
}

.strelok {
  padding-left: 10px;
  
}

.whatsapp {
  width: 30px;
  height: 30px;
  padding-top: 19px;
}

.priz {
    transform: scaleX(-1);
}

.tym {
  transform: scaleX(-1);
}

.yar {
  transform: scaleX(-1);
}

.figurka{
  width: 250px;
  height: 250px;
}

.reklama {
  background-color: aqua;
  width: fit-content;
  padding: 10px;
  margin: 10px;
  float: right;
  margin-left: 10px;
  border-radius: 20px;
  border: 2px dotted;
  opacity: 1;
}

.reklama:hover{
  opacity: 0.7;
}

.calamity {
  background: #1e1e1e;
  width: 700px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 3px solid black;
}

.calamityfon{
  width: 80%;
  margin-top: 20px;
}

.mods {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.opiscala{
  color: white;
  padding-top: 20px;
  text-align: center;
  padding: 20px; 
  margin-top: 10px; 
}

.vverx {
  background-color: #8B4513;
  height: 50px;
  width: 100%;
  flex-shrink: 0;
  display: flex;
}

.vverx img {
  width: 50px;
  height: 50px;
}

.calamity a {
align-self: end;
margin: 0 5px 5px 0;
color: grey;
}

.calamity a:hover {
  color: white;
}


.opiscala::before{
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-image: url(src/значок\ терарии.jpg);
}


.opiscala::after{
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-image: url(src/значок\ терарии.jpg);
}

header a:hover{
  animation: slide 2s;
  animation-iteration-count: infinite;
}

@keyframes slide {
  0%{
    border-radius: 0px;
    transform: translateY(0px) scale(1) rotate(10deg);
  }
  50%{
    transform: translateY(5px) scale(1.05) rotate(10deg);
  }
  100%{
    transform: translateY(0px) scale(1)rotate(10deg);
  }
}


.star {
  width: 30px;
  position: absolute;
  right: 5px;
  top: 106px;
}







